
 <%- include('partials/header'); %>  
 <% if (locals.message && message !="") {%>
         
  <h1 style="color: green">
          <%= message%>
  </h1>
<%}%> 
    
 <% arrArticle.forEach(item=> { %>

  

 
     <article>
      <h1>Ali</h1>
       <h2><%= item.title %></h2>
    
       <p>
         <%= item.summary %>
         <a class="btn" href="details/<%= item.id %> ">show more</a>
       </p>
     </article>
    
     <% }); %> 
 
  <%- include('partials/footer'); %> 
     
