
 <<%- include('partials/header'); %>  
    
 <% arrArticle.forEach(item=> { %>
 
     <article>
       <h2><%= item.title %></h2>
    
       <p>
         <%= item.summary %>
         <a class="btn" href="details/<%= item.id %> ">show more</a>
       </p>
     </article>
    
     <% }); %> 
 
  <%- include('partials/footer'); %> 
     
